<!-- Pagination Controls -->
<div class="pagination">
    <% if (currentPage > 1) { %>
      <a href="<%= pageUrl %>?page=<%= currentPage - 1 %>" class="pagination-link">Previous</a>
    <% } %>
  
    <% for (let i = 1; i <= totalPages; i++) { %>
      <a href="<%= pageUrl %>?page=<%= i %>" class="pagination-link <%= i === currentPage ? 'active' : '' %>">
        <%= i %>
      </a>
    <% } %>
  
    <% if (currentPage < totalPages) { %>
      <a href="<%= pageUrl %>?page=<%= currentPage + 1 %>" class="pagination-link">Next</a>
    <% } %>
  </div>
  